<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classes</title>
    <style>
        *{
            box-sizing: border-box;
        }
        .container{ 
            background-color: rgb(230, 180, 142);
            border: 2px solid rgb(143, 234, 169);
            width: 800px;
            margin: 50px auto
        }
        .item{
            border: 2px solid rgb(110, 134, 74);
            padding: 10px 5px;
            border-radius: 10px;
            margin: 10px 5px;
            background-color: rgb(236, 205, 175);
        }
        
    </style>
</head>
<body>
    <div class="container">
        <h1>GYM CLASSES</h1>
        <div id="zumba" class="item">
            <h2>Zumba Classes</h2>
            <p id="zumbapara" class="item1">
                hello welcome to zumba Classes
            </p>
            </div>
        <div id="Cardio" class="item">
            <h2>Cardio Classes</h2>
            <p id="Cardiopara" class="item2">
                hello welcome to cardio Classes
            </p>
        </div>
        <div id="weigth_lifting" class="item">
            <h2>Weight Lifting Classes</h2>
            <p id="weightliftpara" class="item3">
                hello welcome to weigthlifting Classes
            </p>
        </div>
        <div id="calisthenics" class="item">
            <h2>Calisthenics Classes</h2>
            <p id="calisthenicspara" class="item4">
                hello welcome to calisthenics Classes
            </p>
        </div>
    </div>
</body>
</html>