<!DOCTYPE html>
<html>
<head>
  <title>My Gym Website</title>
  <style>
    /* Reset default styles */
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    /* Global styles */
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
    }

    /* Header styles */
    header {
      background-color: #333;
      color: #fff;
      padding: 20px;
      text-align: center;
    }

    h1 {
      margin: 0;
      font-size: 32px;
    }

    /* Navigation styles */
    nav {
      background-color: #555;
      color: #fff;
      padding: 10px;
      text-align: center;
    }

    nav a {
      color: #fff;
      text-decoration: none;
      margin: 0 10px;
    }

    /* Main content styles */
    .container {
      margin: 20px auto;
      max-width: 600px;
      padding: 20px;
      background-color: #f4f4f4;
      border-radius: 5px;
      /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
    }

    h2 {
      margin: 20px 0;
      font-size: 24px;
    }

    p {
      margin-bottom: 10px;
    }

    ul {
      margin-bottom: 20px;
    }

    ul li {
      list-style: disc;
      margin-left: 20px;
    }

    /* Footer styles */
    footer {
      background-color: #333;
      color: #fff;
      padding: 10px;
      text-align: center;
      position: fixed;
      bottom: 0;
      width: 100%;
    }

    body {
  background-image: url('img/gym.jpg');
  background-size: cover;
}
  </style>
</head>
<body>
  <header>
    <h1>Welcome to My Gym</h1>
  </header>
  
  <nav>
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="/classes" target="_blank">Classes</a>
    <a href="/contact " target="_blank">Contact</a>
  </nav>
  
  <div class="container">
    <img src="img/gym.jpg" alt="gym picture" height="100px" width="100px">
    <!-- <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum facilisis metus ac neque pulvinar, ut iaculis nulla feugiat.</p>

    <h2>Classes</h2>
    <ul>
      <li>Yoga</li>
      <li>Zumba</li>
      <li>Spinning</li>
    </ul>

    <h2>Contact Us</h2>
    <p>Email: info@mygym.com</p>
    <p>Phone: 123-456-7890</p>-->
  </div>

  <footer>
    &copy; 2023 My Gym. All rights reserved.
  </footer>
</body>
</html>
